<div class="container profile-container">
    <div class="intro">
        <div class="avatar">
<!--             <a href="<%- url_for(theme.nav.Posts) %>"><img src="<%- url_for(theme.avatar) %>"></a> -->
        </div>

        <div>
                <div class="nickname gradient-always"
                  style="text-align: right; font-size: 4em; font-family: 'Teko', sans-serif; line-height: 1.0em">
                            <!-- <%- theme.nickname %> - blog -->
                           Łódzki programista
                        </div>
                <div class="nickname"
                 style="text-align: right; font-family: 'Teko', sans-serif; font-size:1.6em">
                    <!-- <%- theme.nickname %> - blog -->
                    by Kamil Lolo
                </div>
        </div>


        <div class="description" style="text-align: left">
            <%- markdown(theme.description) %>
        </div>
        <div class="links">
            <% if (theme.links !== undefined) { %>
                <% for (var key in theme.links){ %>
                    <a class="link-item" title="<%- key %>" href="<%= theme.links[key] %>">
                        <% if(theme.links_text_enable) { %>
                            <%= key %>
                        <%}%>
                        <%if(theme.links_icon_enable){ %>
                            <i class="iconfont icon-<%- key.toLowerCase() %>"></i>
                        <%}%>
                    </a>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
